{% extends 'base.html' %}

{% block head_extra %}
    <style>
        #progress-bar-container {
            width: 100%;
            height: 10px;
            background-color: #ddd;
            margin: 10px auto;
            border-radius: 5px;
            cursor: pointer;
            position: relative;
        }

        #progress-bar {
            width: 0;
            height: 100%;
            background-color: #000000;
            border-radius: 5px;
        }

        #myVideo {
            height: 92%;
        }
    </style>
    <style>
        .step-item {
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }


        .step-title {
            transition: color 0.3s ease-in-out;
        }

        .ordre-etape {
            transition: transform 0.3s ease, opacity 0.3s ease; /* Transition pour animation */
        }

        .ordre-etape.change {
            transform: scale(1.3); /* Animation de "zoom" temporaire */
            opacity: 0.7; /* Légère transparence temporaire */
        }

        .step-content {
            transition: opacity 0.3s ease-in-out; /* Transition pour affichage du contenu */
        }

        .step-content.fade {
            opacity: 0; /* Fade out pour transition */
        }
    </style>

{% endblock %}

{% block wrapper %}
    <div class="p-5" id="fullscreenDiv">
        <div class="card-body ">
            <div class="d-flex flex-row" style="height: 90vh">
                <div class="h-100 d-flex justify-content-center flex-column justify-content-between">
                    <video id="myVideo" loop class="rounded-3 mb-2">
                        <source src="{{ object.video.url }}" type="video/mp4">
                    </video>
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <div id="controls">
                                <button id="toggleButton" class="btn btn-dark btn-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-player-play">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M7 4v16l13 -8z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="col-10 d-flex justify-content-center align-items-center">
                            <div id="progress-bar-container">
                                <div id="progress-bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4" style="height: 100%">
                    <div class="card h-100 scrollable scroll-y">
                        <div class="card-header mt-0">
                            <h3 class="card-title p-3" style="font-size: 26px;">{{ object }}</h3>
                            <div class="card-actions">
                                <button id="goFullscreen" class="btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrows-maximize">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M16 4l4 0l0 4"/>
                                        <path d="M14 10l6 -6"/>
                                        <path d="M8 20l-4 0l0 -4"/>
                                        <path d="M4 20l6 -6"/>
                                        <path d="M16 20l4 0l0 -4"/>
                                        <path d="M14 14l6 6"/>
                                        <path d="M8 4l-4 0l0 4"/>
                                        <path d="M4 4l6 6"/>
                                    </svg>
                                    Commencer la recette
                                </button>
                                <button id="exitFullscreen" class="btn d-none btn-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M18 6l-12 12"/>
                                        <path d="M6 6l12 12"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                {% for quantite in object.quantites.all %}
                                    <div class="col-2 mb-3">
                                        <div class="d-flex align-items-center justify-content-center flex-column">
                                            <img src="{{ quantite.get_thumbnail }}" class="rounded-circle" style="width: 60px; height: 60px">
                                            <div class="text-center">{{ quantite.quantite }}
                                                {% if  quantite.unite_mesure not in "unités,unité" %}{{ quantite.unite_mesure }}{% endif %} {{ quantite.ingredient.nom_singulier }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div id="steps" class="d-flex flex-row flex-column justify-content-around">
                                {% for etape in object.etapes.all %}
                                    <div class="row pt-4">
                                        <div class="col-2 d-flex justify-content-center align-items-center">
                                            <h4>Étape <span class="ordre-etape">{{ etape.ordre }}</span></h4>
                                        </div>
                                        <div class="col-10">
                                            {{ etape.content }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div id="stepsFullScreen" class="d-none flex-column">
                                <ul class="steps steps-counter steps-azure my-3">
                                    {% for etape in object.etapes.all %}
                                        <li class="step-item flex-grow-1 {% if forloop.first %}active{% endif %}"
                                            data-content="{{ etape.content }}"
                                            style="min-height: 20px"></li>
                                    {% endfor %}
                                </ul>
                                <div class="d-flex flex-column justify-content-between w-100">
                                    <div><h3 style="font-size: 26px; margin-top: 40px">Étape <span id="ordre-etape">1</span></h3></div>
                                    <div class="step-content py-6" style="font-size: 18px">
                                        {{ object.etapes.first.content }}
                                    </div>
                                    <div class="navigation-buttons">
                                        <button class="prev-step btn">️Précédente</button>
                                        <button class="next-step btn">️Suivante</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


{% endblock %}



{% block js_extra %}

    <script>
        const toggleButton = document.getElementById('toggleButton');
        const video = document.getElementById('myVideo');
        const progressBarContainer = document.getElementById('progress-bar-container');
        const progressBar = document.getElementById('progress-bar');

        toggleButton.addEventListener('click', () => {
            if (video.paused) {
                video.play();
                toggleButton.innerHTML = '<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-player-pause"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 5m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" /><path d="M14 5m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" /></svg>';
            } else {
                video.pause();
                toggleButton.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"stroke-linejoin="round"class="icon icon-tabler icons-tabler-outline icon-tabler-player-play"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 4v16l13 -8z"/></svg>';
            }
        });
        setInterval(function () {
            const progress = (video.currentTime / video.duration) * 100;
            progressBar.style.width = progress + '%';
        }, 30);
        progressBarContainer.addEventListener('click', (event) => {
            const rect = progressBarContainer.getBoundingClientRect();
            const offsetX = event.clientX - rect.left; // Get X position within the container
            const width = rect.width;
            const newTime = (offsetX / width) * video.duration; // Calculate time based on click position
            video.currentTime = newTime;
        });
    </script>
    <script>
        const fullscreenDiv = document.getElementById('fullscreenDiv');
        const goFullscreenButton = document.getElementById('goFullscreen');
        const exitFullscreenButton = document.getElementById('exitFullscreen');
        const steps = document.getElementById('steps');
        const stepsFullScreen = document.getElementById('stepsFullScreen');

        // Activate fullscreen for the div
        goFullscreenButton.addEventListener('click', () => {
            goFullscreenButton.classList.add('d-none');
            exitFullscreenButton.classList.remove('d-none');
            steps.classList.add('d-none');
            fullscreenDiv.style.backgroundColor = '#f1f1f3';
            stepsFullScreen.classList.remove('d-none');
            stepsFullScreen.classList.add('d-flex');
            if (fullscreenDiv.requestFullscreen) {
                fullscreenDiv.requestFullscreen();
            } else if (fullscreenDiv.webkitRequestFullscreen) { // For Safari
                fullscreenDiv.webkitRequestFullscreen();
            } else if (fullscreenDiv.msRequestFullscreen) { // For IE/Edge
                fullscreenDiv.msRequestFullscreen();
            }
        });

        // Exit fullscreen mode
        exitFullscreenButton.addEventListener('click', () => {
            goFullscreenButton.classList.remove('d-none');
            exitFullscreenButton.classList.add('d-none');
            steps.classList.remove('d-none');
            stepsFullScreen.classList.add('d-none');
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.webkitExitFullscreen) { // For Safari
                document.webkitExitFullscreen();
            } else if (document.msExitFullscreen) { // For IE/Edge
                document.msExitFullscreen();
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const steps = document.querySelectorAll(".step-item");
            const stepContent = document.querySelector(".step-content");
            const stepNumber = document.querySelector("#ordre-etape");
            const prevButton = document.querySelector(".prev-step");
            const nextButton = document.querySelector(".next-step");

            let currentStep = 0;

            function updateStep(newIndex) {
                if (newIndex < 0 || newIndex >= steps.length) return;
                stepContent.classList.add("fade");

                setTimeout(() => {
                    steps[currentStep].classList.remove("active");
                    currentStep = newIndex;
                    steps[currentStep].classList.add("active");

                    const newContent = steps[currentStep].getAttribute("data-content");
                    stepContent.innerHTML = newContent;
                    stepContent.classList.remove("fade"); // Fade in
                    console.log(stepNumber)
                    console.log(stepNumber.textContent)
                    stepNumber.textContent = `${currentStep + 1}`;
                    console.log(stepNumber.textContent)
                    stepNumber.classList.add("change");
                    setTimeout(() => {
                        stepNumber.classList.remove("change");
                    }, 300);
                }, 300);
            }

            prevButton.addEventListener("click", () => updateStep(currentStep - 1));
            nextButton.addEventListener("click", () => updateStep(currentStep + 1));
            updateStep(currentStep);
        });
    </script>


{% endblock %}
